---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio | Mi Blog</title>
	<meta charset="UTF-8" />

  </head>
  <body class="bg-gray-100 text-gray-800">
    <Navbar />
    <main class="min-h-screen">
      <Hero />
    </main>
    <Footer />
  </body>
</html>
