---
---
<form class="card max-w-lg mx-auto space-y-4">
  <input type="text" placeholder="Tu nombre" class="w-full p-3 rounded-md bg-transparent border border-white/10 focus:outline-none" />
  <input type="email" placeholder="Tu correo" class="w-full p-3 rounded-md bg-transparent border border-white/10 focus:outline-none" />
  <textarea placeholder="Tu mensaje..." rows="5" class="w-full p-3 rounded-md bg-transparent border border-white/10 focus:outline-none"></textarea>
  <button type="submit" class="btn w-full">Enviar mensaje</button>
</form>
